{% extends "./layouts/main.twig" %}
{% import './layouts/macros.twig' as macros %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Категории</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="{{ url_for('home') }}">Главная</a>
                        </li>
                        <li class="breadcrumb-item active">Категории</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <a href="{{ url_for('category.create') }}"
                               class="btn btn-outline-dark btn-sm">Добавить</a>
                        </div>
                        {# Вызов макроса получения списка категорий #}
                        {{ macros.renderList(categories) }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        {# Отправка данных form при клике на тег <a>, а также вывод ошибки из #}
        $(document).ready(function () {
            // Обработчик события клика по ссылке удаления
            $('.delete-category').on('click', function (e) {
                e.preventDefault();

                let categoryId = $(this).data('id');

                console.log(categoryId)
                if (!categoryId) {
                    // Если categoryId пуст, выводим сообщение и прерываем выполнение функции
                    showAlert('<div class="alert alert-danger alert-dismissible">'
                        + '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>'
                        + '<h5><i class="icon fas fa-ban"></i>Ошибка!</h5>'
                        + 'Невозможно удалить родительскую категорию'
                        + '</div>');
                    return;
                }

                // Создаем форму динамически
                let form = $('<form>', {
                    'action': '/categories/' + categoryId,
                    'method': 'post'
                });

                form.append({{ csrf_field()|json_encode|raw }} );
                form.append('<input type="hidden" name="_METHOD" value="DELETE">');

                // Добавляем форму в тело документа и сразу отправляем
                $('body').append(form);
                form.submit();
            });
        })

        function showAlert(message) {
            let alert = $(message);

            // Добавляем alert в тело документа
            $('#category').prepend(alert);

            // Закрываем alert через 3 секунды (3000 миллисекунд)
            setTimeout(function () {
                alert.remove();
            }, 3000);
        }
    </script>
{% endblock %}

